@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;

}

header {
	width: 1440px;
	height: 74px;
}

.top_nav {
	margin-top: 17px;
	margin-left: 250px ;

}

.top_logo {
	vertical-align: bottom;
	margin-bottom: 5px;
}

.top_nav_ul {
	display: inline-block;
	margin-left: 470px;
}

.top_nav_ul li {
	vertical-align: 0.5;
	display: inline-block;
	margin: 10px 20px;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.6px;
	text-align: left;
	text-transform: uppercase;
	
}

.upper {
	height: 159px;
	width: 940px;
	margin-top: 89px;
	margin-left: 250px

}

.maintitle {
	font-family: 'Lora', sans-serif;
	font-size: 50px;
	font-weight: 400px;
	line-height: 51px;
	letter-spacing: 2px;
	text-align: center;
	width: 498px;
	height: 51px;
	margin-left: 221px;
	margin-right: 221px;
	margin-top: -7px;
	font-weight: normal;

}

.subtitle {
	width: 504px;
	height: 20px;
	margin-top: 20px;
	margin-left: 218px;
	margin-right: 218px;
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	color: #2E2E2EA1;
	opacity: 63%;

}

.photo {
	width: 1440px;
	height: 534px;
	border-radius: 3px;
	margin-top: 38px;
	background-blend-mode: multiply;

}

.text {
	margin-top: 140px;
	margin-left: 240px;
	margin-right: 240px;
	width: 960px;
	height: 1431px;


}

.paragraph {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	font-weight: 400px;
	line-height: 35px;
	letter-spacing: 0em;
	text-align: left;
	margin-top: 30px;
	
}

.bottom_nav {
	margin-top: 28px;
	margin-left: 240px;

}

footer {
	margin-top: 135px;
	width: 1440px;
	height: 89px;
	background: rgba(35, 47, 56, 0.6);
	background-blend-mode: overlay;
	background-image:url(background.png);
	background-position: center;
	background-size: 100%;
	display: block;
	position: absolute;
	
}

.bottom_logo {
	vertical-align: bottom;
	margin-bottom: 5px;

}

.bottom_nav_ul {
	display: inline-block;
	margin-left: 500px;
}

.bottom_nav_ul li {
	display: inline;
	color: rgba(255, 255, 255, 0.6);
	vertical-align: 0.5;
	display: inline-block;
	margin: 10px 20px;
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.6px;
	text-align: left;
	text-transform: uppercase;
	

}





