* {
  margin: 0;
  padding: 0;
}

.header-navigation {
  margin: 17px auto 0 auto;
}

.navigation__container {
  margin: 0 auto;
  max-width: clamp(400px, 92vw, 960px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: inline-block;
}

.header-list li {
  display: inline-block;
  margin: 10px 20px;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
}

.main {
  margin-left: auto;
  margin-right: auto;
}

.upper {
  max-height: 160px;
  margin: 90px auto 0 auto;
}

.main-title {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  font-weight: 400px;
  text-align: center;
  font-weight: normal;
  width: clamp(280px, 70vw, 500px);
  margin: 0 auto;
}

.main-subtitle {
  font-family: Oxygen;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(46, 46, 46, 0.63);
  margin: 20px auto 70px auto;
  width: clamp(280px, 70vw, 500px);
}

.photo {
  width: 100%;
  max-height: 534px;
  margin-top: 38px;
}

.menu__button {
  display: none;
}

#menu {
  display: none;
}

.text {
  max-width: 960px;
  margin: 140px auto 130px auto;
}

.paragraph {
  font-family: "Oxygen", sans-serif;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin: 30px auto 135px auto;
  width: clamp(280px, 70vw, 960px);
}

.footer {
  background-image: url("../images/background.jpg");
  background-position: center;
  padding-top: 62px;
}

.footer__title {
  font-family: Oxygen;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(239, 239, 239, 1);
  margin-top: 20px;
}

.rectangle-footer {
  margin-top: 17px;
}

.footer-email-send {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer__email-input {
  border: none;
  outline: none;
  display: inline-block;
  padding: 18px 208px 18px 36px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: rgba(129, 127, 131, 1);
}

.footer__button {
  display: inline-block;
  padding: 18px 44px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: rgba(248, 248, 248, 1);
  border-radius: 0px 3px 3px 0px;
  background-color: rgba(255, 255, 255, 0.28);
}

.footer-section {
  max-width: clamp(400px, 92vw, 960px);
  max-height: 34px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto 0 auto;
  padding: 28px 0;
}

.footer-section__links li {
  display: inline-block;
  padding: 3px 10px;
  list-style-type: none;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.bottom-container {
  background-color: rgba(35, 47, 56, 0.6);
}

@media screen and (max-width: 768px) {
  .paragraph {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
  }
}

@media screen and (max-width: 618px) {
  .footer__email-input {
    padding: 18px 150px 18px 30px;
  }
  .footer__button {
    padding: 18px 30px;
  }

  .header-list {
    display: none;
  }

  .menu__button {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .link_content {
    width: 410px;
  }
  .footer__email-input {
    padding: 18px 130px 18px 30px;
  }
}
